.MenuBg{
	-fx-background-color: rgba(0, 0, 0, .5);
}

.root{
	-fx-background-color: transparent;
}

.Title{
	-fx-font-size: 7em;
	-fx-font-weight: bold;
}

.MenuBg *{
	-fx-text-fill: #fff;
	-fx-text-alignment: center;
	-fx-alignment: center;

}

.button{
	-fx-background-radius: 0;
	-fx-background-color: #000c21;
}